In [3]:

 import pandas as pd
 df = pd.read_csv("yield.csv")
df

                   MI County  Acres  Yield(Bushels)
0         Combiend counties   19000            88.6
1                     ANTRIM   1600           106.3
2                     BENZIE   1600           126.9
3                 CHARLEVOIX   3200           114.0
4             GRAND TRAVERSE   5800           125.5
5                   LEELANAU   2600           119.6
6                   MANISTEE   2400           118.4
7                  MISSAUKEE  21500           151.6
8  OTHER (COMBINED) COUNTIES   7300           124.5